.login-box {
  background-color: white;
  color: #333;
  width: 330px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px 25px;
}

.tab-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.tab-buttons button {
  flex: 1;
  padding: 8px 0;
  background: #f3f4f6;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.3s;
}

.tab-buttons .active {
  background-color: #f97316;
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form h3 {
  text-align: center;
  margin-bottom: 15px;
  color: #f97316;
}

.login-form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-btn {
  background-color: #f97316;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: #ea580c;
}

.forgot {
  margin-top: 10px;
  text-align: center;
  color: #555;
  font-size: 0.9rem;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}
